/* src/components/Toast/toast.module.scss */

.toastContainer {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10000;
  pointer-events: none;
  padding: 0 10px;
  width: 100%;
}

.toast {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  pointer-events: auto;
  /* Две последовательные анимации: появление и исчезание с уходом вниз */
  animation:
          fadeIn 0.5s ease-out forwards,
          fadeOut 0.5s ease-in 2s forwards;
}

/* Успех */
.success {
  background: #4caf50; /* зелёный */
}

/* Предупреждение */
.warning {
  background: #ff9800; /* оранжевый */
}

/* Ошибка */
.error {
  background: #f44336; /* красный */
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(30px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
