.settings {
  border-radius: 8px;
  padding: 10px 20px 0 20px;

  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.wrapperBtn {
  display: flex;
  width: 100%;
  justify-content: center;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;

  label {
    display: flex;
    flex-direction: column ;
    font-size: 20px;
    color: #ffffff;
  }

  input,
  select {
    /* Общие стили */
    margin-top: 6px;
    width: 100%;
    max-width: 240px;
    padding: 12px 36px 12px 12px;
    font-size: 20px;
    border: 2px solid #444;
    border-radius: 6px;
    background-color: #2d2d2d;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease;

    /* Фиксированная высота */
    height: 48px;
    min-height: 48px;
    line-height: normal;

    /* Убираем стандартный вид */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Кастомная стрелка */
    //background-image: url("data:image/svg+xml,%3Csvg...");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;

    @media (max-width: 768px) {
      font-size: 16px;
      height: 44px;
      min-height: 44px;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin-top: 6px;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  max-width: 300px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #444;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }

  &:active {
    background-color: #222;
    transform: scale(0.98);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.btnDisabled {
  @extend .btn;
  background-color: #191919;
  color: #707070;
}

.wifiNetworks {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.wsUrlWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.wifiTag {
  background-color: #333;
  color: white;
  padding: 12px 12px;
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: #444;
  }

  &:active {
    transform: scale(0.95);
  }
}

@media (max-width: 768px) {
  .settings {
    max-width: 100%;

    h2 {
      font-size: 20px;
    }
  }

  .panel {
    gap: 12px;

    label {
      font-size: 20px;
    }

    input,
    select {
      width: 100%;
      max-width: unset;
      font-size: 18px;
    }
  }

  .wsUrlWrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .btn {
    width: 100%;
    max-width: unset;
    padding: 14px;
  }
}
