// Подключение переменных
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 22px;
$font-size-xlarge: 24px;

.devices {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 46px);
}

.wrapperBtn {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 12px 20px;
  justify-content: flex-end;
  background: #141414;
  gap: 20px;
  height: 76px;
  position: relative;
  align-items: center;
  align-content: center;
}

.sliderWrapper {
  width: 100%;
  border-top: 1px solid #7c7c7c;
  background-color: #3a3a3a;
  padding: 24px 0;
  position: relative;
}

.settingsAndGroupWrapper {

  .buttonTabs {
    display: flex;
  }

  .buttonTabItemSettings,
  .buttonTabItemGroup {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #7c7c7c;
    padding: 6px 0;
    justify-content: center;
    color: #757575;
    background-color: #525252;
    font-size: $font-size-medium;
    display: flex;
    width: 50%;
    border-bottom: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
  }

  .buttonTabItemActiveSettings,
  .buttonTabItemActiveGroup {
    background-color: #3a3a3a;
    color: #ffffff;
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 6px 0;
    justify-content: center;
    font-size: $font-size-medium;
    display: flex;
    width: 50%;
  }


  .contentBody {
    background-color: #3a3a3a;
    border-bottom: 1px solid #7c7c7c;
    border-left: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .paddingSettings {
    padding: 0 12px 12px 20px;
  }

  .paddingGroups {
    padding: 0 12px 12px 12px;
  }
}

.element {
  display: flex;
  padding: 12px 0;
  font-size: $font-size-medium;
  justify-content: space-between;
}

.valueWrapper {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  max-width: 120px;
  align-items: center;
  gap: 10px;
  @media (max-width: 375px) {

    max-width: 100px;
  }
}

.valueName {
  font-size: $font-size-medium;
  margin-top: 2px;
  @media (max-width: 400px) {
    font-size: $font-size-small;
  }
}

.value {
  margin-top: -4px;
  font-size: $font-size-large;
  @media (max-width: 375px) {
    font-size: $font-size-medium;
  }
}

.content {
  flex: 1 1 auto;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
  overflow-y: auto;
}

.loadingText {
  font-size: $font-size-medium;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  width: 100%;
  border-bottom: 1px solid white;
}

.sliderItem {
  position: relative;
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 22px;

  input[type="range"] {
    flex: 1;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    background: #707070;
    border-radius: 5px;
    outline: none;

    &::-webkit-slider-runnable-track {
      height: 10px;
      background: #707070;
      border-radius: 5px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 30px;
      width: 30px;
      background: #424242;
      border-radius: 50%;
      margin-top: -11px;
      cursor: pointer;
      border: 2px solid #707070;
    }

    &::-moz-range-track {
      height: 10px;
      background: #333;
      border-radius: 5px;
    }

    &::-moz-range-progress {
      height: 10px;
      background: #16e41a;
      border-radius: 5px;
    }

    &::-moz-range-thumb {
      height: 24px;
      width: 24px;
      background: #d12525;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }
  }
}

.sliderValue {
  color: #fff;
  font-size: $font-size-large;
}

@keyframes blink {
  0% {
    background-color: #feff96;
  }
  30% {
    background-color: #f0f07e;
  }
  100% {
    background-color: #333;
  }
}

.blinking {
  animation: blink 1s ease-out infinite;
}

.groupFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 26px 12px; // промежуток между блоками
  padding: 10px;
  // чтобы начинались с левого края
  @media (min-width: 360px) {
    justify-content: center;
  }
}

.groupItem {
  color: #ffffff;
  background-color: #525252;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: calc((100% - 36px) / 4); // 3 * 12px gap между 4 блоками
  font-size: $font-size-medium;
  border: 1px solid #7c7c7c;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  max-width: 80px; // чтобы не росли бесконечно на широком экране

  input[type="checkbox"] {
    appearance: none;
    pointer-events: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-color: transparent; // Цвет НЕактивного чекбокса
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    margin-left: 6px;

    &:checked {
      background-color: #16e41a; // Цвет активного чекбокса
    }

    &:checked::after {
      content: '✓';
      color: white;
      position: absolute;
      left: 3px;
      font-size: 14px;
    }
  }
}

@media (max-width: 357px) {
  .groupItem {
    width: calc((100% - 24px) / 3); // 3 в ряд для маленьких экранов
  }
}
