.devices {
  display: flex;
  flex-direction: column;
  //height: calc(100dvh - 46px);
}

.line{
  width: 100%;
  border-bottom: 1px solid white;
}

.sliderItem {
  position: relative;
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  gap: 8px;

  input[type="range"] {
    flex: 1;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    background: #333;
    border-radius: 5px;
    outline: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 24px;
      width: 24px;
      background: #aaaaaa;
      border-radius: 50%;
      border: none;
      margin-top: 0px;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      height: 20px;
      width: 20px;
      background: white;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }

    &::-moz-range-track {
      height: 10px;
      background: black;
      border-radius: 5px;
    }
  }
}

.sliderValue {
  position: absolute;
  left: -20px;
  transform: translateX(-50%);
  background: #444;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 14px;
}

@keyframes blink {
  0% { background-color: #feff96; }
  30% { background-color: #f0f07e; }
  100% { background-color: #333; }
}

.blinking {
  animation: blink 1s ease-out infinite;
}

.wrapperBtn {
  width: calc(100% - 40px);
  display: flex;
  margin: 10px auto;
  padding: 10px 0;
  justify-content: center;
  background-color: #3a3a3a;
  gap: 36px;
  position: relative;
}

